.error {
    font-size: 500%;
    text-align: center;
    font-weight: bold;
    padding: 2% 0;
}

.error__parrafo {
    font-size: 300%;
    text-align: center;
    padding: 1% 0;
}

.error__imagenes img {
    width: 30%;
    border-radius: 100%;
    padding: 1% 0;
}

.error__imagenes {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.error__inicio{
    display: flex;
    justify-content: center;
}

.error__inicio a {
    font-size: 200%;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: rgb(122, 100, 104);
    padding: 2% 0;
}