.bienvenidos {
    margin: 5%;

    img {
        padding: 0 1rem;
        width: 350px;
    }
}

.bienvenidos__titulo {
    font-size: 350%;
    text-align: center;
    color: rgb(99, 56, 65);
    padding: 1rem;
}

.bienvenidos__parrafo{
    font-size: 200%;
    text-align: center;
    padding: 2rem;
    align-items: center;
}